<h4>HTML</h4>
<mat-card appearance="outlined" style="overflow: auto;">
    <mat-card-content>
        <pre class="code-view">
<code>{{htmlFile}}</code>
        </pre>
    </mat-card-content>
</mat-card>

<h4>SCSS</h4>
<mat-card appearance="outlined" style="overflow: auto;">
    <mat-card-content>
        <pre class="code-view">
<code>{{scssFile}}</code>
        </pre>
    </mat-card-content>
</mat-card>

<h4>TS</h4>
<mat-card appearance="outlined" style="overflow: auto;">
    <mat-card-content>
        <pre class="code-view">
<code>{{tsFile}}</code>
        </pre>
    </mat-card-content>
</mat-card>