<h2>{{selectedDemo?.title}}</h2>
<h3>{{selectedDemo?.subtitle}}</h3>

<mat-card appearance="outlined" class="demo-viewer-card">
    <mat-card-header class="card-header">
        <mat-tab-group [(selectedIndex)]="selectedTabIndex">
            @for (item of fileViews; track item.title) {
                <mat-tab [label]="item.title"></mat-tab>
            }
        </mat-tab-group>
    </mat-card-header>
    <mat-card-content>
        <pre class="code-view"><code [highlight]="selectedFileView" [language]="selectedFileLanguage"></code></pre>
    </mat-card-content>
    <mat-card-content>Test</mat-card-content>
</mat-card>