.example-viewer-card {
    overflow: auto;
    margin-bottom: 20px;
    
    .card-header {
        padding: 0;
        padding-top: 6px;
        border-bottom: 2px solid #F0F0F0;
        flex-direction: column;
        
        .example-title {
            display: flex;
            justify-content: space-between;
            padding: 12px;
            width: 100%;
            box-sizing: border-box;
        }
    }

    .code-view-container {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        position: relative;

        .copy-button {
            float: right;
            margin-top: 12px;
        }
    }
}
