<mat-card appearance="outlined" class="example-viewer-card">
    <mat-card-header class="card-header">
        <div class="example-title">
            <div>
                <h1>{{selectedExample?.title}}</h1>
                <h3>{{selectedExample?.subtitle}}</h3>
            </div>
            <button mat-icon-button style="margin-left: auto;" (click)="showCodeView = !showCodeView" [matTooltip]="showCodeView ? 'Hide code' : 'Show code'">
                <mat-icon>code</mat-icon>
            </button>
        </div>
        @if (showCodeView) {
            <mat-tab-group [(selectedIndex)]="selectedTabIndex" style="width: fit-content;">
                @for (item of fileViews; track item.title) {
                    <mat-tab [label]="item.title"></mat-tab>
                }
            </mat-tab-group>
        }
        
    </mat-card-header>
    @if (showCodeView) {
        <mat-card-content class="code-view-container">
            <button mat-icon-button class="copy-button" [cdkCopyToClipboard]="selectedFileView" (cdkCopyToClipboardCopied)="copiedToClipboard()" matTooltip="Copy example">
                <mat-icon>content_copy</mat-icon>
            </button>
            <pre class="code-view"><code [highlight]="selectedFileView" [language]="selectedFileLanguage"></code></pre>
        </mat-card-content>
    }
    
    <ng-container #exampleComponentContainer></ng-container>
</mat-card>