<mat-card appearance="outlined" class="example-viewer-card">
    <mat-card-header class="card-header">
        <div class="example-title">
            <div>
                <h1>{{selectedExample?.title}}</h1>
                <h3>{{selectedExample?.subtitle}}</h3>
            </div>
            <button mat-icon-button style="margin-left: auto; margin-right: 20px;" (click)="_showCodeView = !_showCodeView" [matTooltip]="_showCodeView ? 'Hide code' : 'Show code'">
                <mat-icon>code</mat-icon>
            </button>
        </div>
        @if (_showCodeView) {
            <mat-tab-group [(selectedIndex)]="selectedTabIndex" style="width: fit-content;">
                @for (item of fileViews; track item.title) {
                    <mat-tab [label]="item.title"></mat-tab>
                }
            </mat-tab-group>
        }
        
    </mat-card-header>
    @if (_showCodeView) {
        <mat-card-content style="border-bottom: 1px solid rgba(0, 0, 0, 0.12);">
            <pre class="code-view"><code [highlight]="selectedFileView" [language]="selectedFileLanguage"></code></pre>
        </mat-card-content>
    }
    
    <ng-container #exampleComponentContainer></ng-container>
</mat-card>