<virtual-scroll [dataSource]="dataSource">
    <div *cellDef="let item; let cellName = columnName; name: 'Cell 1'; minWidth: 500;">{{cellName}}</div>
    <div *cellDef="let item; let cellName = columnName; name: 'Cell 2'; minWidth: 500;">{{cellName}}</div>
    <div *cellDef="let item; let cellName = columnName; name: 'Cell 3'; minWidth: 500;">{{cellName}}</div>
    <div *cellDef="let item; let cellName = columnName; name: 'Cell 4'; minWidth: 500;">{{cellName}}</div>
    <div *cellDef="let item; let cellName = columnName; name: 'Cell 5'; minWidth: 500;">{{cellName}}</div>
    <div *cellDef="let item; let cellName = columnName; name: 'Cell 6'; minWidth: 500;">{{cellName}}</div>
    <div *cellDef="let item; name: 'Sticky Cell'; minWidth: 200; sticky: true;">Sticky Cell!</div>
    <div *cellDef="let item; let cellName = columnName; name: 'Cell 8'; minWidth: 500;">{{cellName}}</div>
    <div *cellDef="let item; let cellName = columnName; name: 'Cell 9'; minWidth: 500;">{{cellName}}</div>
    <div *cellDef="let item; let cellName = columnName; name: 'Cell 10'; minWidth: 500;">{{cellName}}</div>
    <div *cellDef="let item; let cellName = columnName; name: 'Cell 11'; minWidth: 500;">{{cellName}}</div>
    <div *cellDef="let item; let cellName = columnName; name: 'Cell 12'; minWidth: 500;">{{cellName}}</div>
</virtual-scroll>