<mat-card appearance="outlined">
    <virtual-scroll [dataSource]="dataSource">
        <div *cellDef="let item; name: 'Cell 1'">{{item}}</div>
        <div *cellDef="let item; name: 'Cell 2'; minWidth: 300;">Cell 2</div>
        <div *cellDef="let item; name: 'Cell 3'; minWidth: 300;">Cell 3</div>
        <div *cellDef="let item; name: 'Cell 4'; minWidth: 300;">Cell 4</div>
        <div *cellDef="let item; name: 'Cell 5'; minWidth: 300;">Cell 5</div>
        <div *cellDef="let item; name: 'Cell 6'; minWidth: 300;">Cell 6</div>
        <div *cellDef="let item; name: 'Sticky Cell'; minWidth: 300; sticky: true;">Sticky Cell!</div>
        <div *cellDef="let item; name: 'Cell 8'; minWidth: 300;">Cell 8</div>
    </virtual-scroll>
</mat-card>