.nav-bar {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid rgb(169, 172, 170);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    padding: 12px;
}

.scroll-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}

.demo-container {
    padding: 20px;
}