<div style="width: 100%; height: 56px; border-bottom: 1px solid rgb(169, 172, 170);">

</div>

<mat-sidenav-container style="height: calc(100% - 56px);">
    <mat-sidenav [opened]="true" mode="side">
        <mat-nav-list>
            <a *ngFor="let route of demoRoutes | keyvalue" mat-list-item [routerLink]="'demo/' + route.key" [activated]="isRouteActivated(route.key)">{{route.value.title}}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="demo-container">
            <!-- <h1>Virtual Scroll Demo</h1> -->
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

