.scroll-container {
    overflow: auto;
    height: 100vh;
    scrollbar-width: none;
    background-color: #FAFAFA;
    
    .nav-bar {
        width: 100%;
        height: 75px;
        border-bottom: 1px solid rgb(169, 172, 170);
        border-right: 1px solid rgb(169, 172, 170);
        border-bottom-right-radius: 5px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        gap: 6px;
        align-items: center;
        padding: 0 24px;
        justify-content: space-between;
        position: absolute;
        z-index: 4;
        background-color: white;
        min-width: 233px;
    
        transition: width 1s ease-in-out;
    
        .home-link, .github-link {
            text-decoration: none;
            color: black;
        }
    
        .home-link {
            font-size: 24px;
        }

        .link-container {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    
        .github-link {
            font-size: 18px;
    
            .github-logo {
                width: 18px;
                height: 18px;
            }
        }
    }
    
    .sidenav-container {
        overflow: visible;
        position: unset;
        margin-top: 75px;
    
        .sidenav-content {
            overflow: visible;
            padding: 20px;
            box-sizing: border-box;
            transition: margin 0.25s;
        }
    
        .sidenav {
            top: 75px;
            :host::ng-deep & *[cdkscrollable] {
                scrollbar-width: none;
            }
        }
    }
}
