<!-- <h1>Virtual Scroll Demo</h1> -->

<mat-sidenav-container style="height: 100%;">
    <mat-sidenav [opened]="true" mode="side">
        <mat-nav-list>
            <a *ngFor="let route of demoRoutes | keyvalue" mat-list-item [routerLink]="'demo/' + route.key">{{route.value.title}}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="demo-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

