<h1>Virtual Scroll</h1>


<p>Looking for how to run locally or contribute? Please visit <a href="https://github.com/AidanPelle/virtual-scroll">the README.md.</a></p>

<br>
<br>

<h1>Overview</h1>
<p>This project focuses on allowing developers to set up infinitely scrolling list pages with minimal setup/frustration.</p>
<p>A number of features are supported out of the box:</p>
<ul>
    <li><a routerLink="/demo/basic">Infinitely scrolling list</a></li>
    <li><a routerLink="/demo/column-selector">Turning columns on/off</a></li>
    <li><a routerLink="/demo/column-selector">Reordering columns (active or inactive)</a></li>
    <li><a routerLink="/demo/column-widths">Setting column widths as a fraction of a page</a></li>
    <li><a routerLink="/demo/column-widths">Setting minimum/maximum widths for a column</a></li>
    <li><a routerLink="/demo/column-widths">Setting a column to a fixed width</a></li>
    <li><a routerLink="/demo/content-alignment">Left/center/right aligning content</a></li>
    <li><a routerLink="/demo/modify-data">Adding/removing rows from an existing list</a></li>
    <li><a routerLink="/demo/resizable">Allowing users to resize columns</a></li>
    <li><a routerLink="/demo/sticky-column">Keep a column always visible on-screen</a></li>
    <li><a routerLink="/demo/responsive-column-enabling">Show/hide columns at different screen widths</a></li>
    <li>For data retrieval, choose between a <a routerLink="/demo/basic">basic array</a>, or an <a routerLink="/demo/complete-list">asynchronous list</a>, or a <a routerLink="/demo/paginated">paginated list</a></li>
</ul>

<br>
<br>

<h1>Documentation</h1>
<p>Here, you can find information on features and implementations.</p>
<p>On the left are live examples with code views for a quick start.</p>

<br>

<div class="docs-content">
    <h1>Main Component</h1>



    <h3><b>Cell Padding</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>HeightPx</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>HeightVh</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>ItemSize</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>Offset</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>MinRowBuffer</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>MaxRowBuffer</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>CanResize</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>ResizeWidth</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>ShowFooter</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>ShowHeader</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>TrackByFn</b></h3>
    <p>Stuff</p>
    <a>Link</a>



    <h1>Cells</h1>

    <h3><b>Name</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>Alignment</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>Flex Width</b></h3>
    <p>By default, all columns are defined as flex: 1, to evenly distribute space between them</p>
    <a>Link</a>

    <h3><b>MinWidth</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>MaxWidth</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>FixedWidth</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>IsActive</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>IsSticky</b></h3>
    <p>Stuff</p>
    <a>Link</a>



    <h1>Header Cells</h1>

    <h3><b>Custom Header Cell</b></h3>
    <p>Stuff</p>
    <a>Link</a>



    <h1>Rows</h1>

    <h3><b>Custom Table Row</b></h3>
    <p>Stuff</p>
    <a>Link</a>

    <h3><b>Custom Header Row</b></h3>
    <p>Stuff</p>
    <a>Link</a>
</div>