<mat-card appearance="outlined">
    <mat-card-content>
        <h1>Virtual Scroll</h1>


        <p>Looking for how to run locally or contribute? Please visit <a href="https://github.com/AidanPelle/virtual-scroll">the README.md.</a></p>

        <br>
        <br>

        <h1>Overview</h1>
        <p>This project focuses on allowing developers to set up infinitely scrolling list pages with minimal
            setup/frustration.</p>
        <p>A number of features are supported out of the box:</p>
        <ul>
            <li><a routerLink="/examples/basic">Infinitely scrolling list</a></li>
            <li><a routerLink="/examples/column-selector">Turning columns on/off</a></li>
            <li><a routerLink="/examples/column-selector">Reordering columns (active or inactive)</a></li>
            <li><a routerLink="/examples/column-widths">Setting column widths as a fraction of a page</a></li>
            <li><a routerLink="/examples/column-widths">Setting minimum/maximum/fixed widths for a column</a></li>
            <li><a routerLink="/examples/content-alignment">Left/center/right aligning content</a></li>
            <li><a routerLink="/examples/modify-data">Adding/removing rows from an existing list</a></li>
            <li><a routerLink="/examples/resizable">Allowing users to resize columns</a></li>
            <li><a routerLink="/examples/sticky-column">Keep a column always visible on-screen</a></li>
            <li><a routerLink="/examples/responsive-column-enabling">Show/hide columns at different screen widths</a></li>
            <li>
                For data retrieval, choose between a 
                <a routerLink="/examples/basic">basic array</a>
                , an <a routerLink="/examples/complete-list">asynchronous list</a>
                , a <a routerLink="/examples/paginated">paginated list</a>
                , or a <a routerLink="/examples/custom-list">custom solution</a>
            </li>
        </ul>

        <br>
        <br>

        <h1>Documentation</h1>
        <p>Here, you can find information on features and implementations. These are separated into four broad categories:</p>
        <ul>
            <li>Main Component</li>
            <li>Cells</li>
            <li>Header Cells</li>
            <li>Rows</li>
            <li>Miscellaneous</li>
        </ul>
        <p>
            <b>Main Component</b> covers any information on inputs or customization applied directly to the base element,
            &lt;virtual-scroll&gt;, including settings for row size, table height, buffers, et cetera.
        </p>
        <p>
            <b>Cells</b> covers information relevant to configuring a given column inside of the table,
            including settings for content alignment, responsiveness, column spacing and enabling/disabling.
        </p>
        <p><b>Header Cells</b> briefly covers how to provide custom templates for header cells and how to link them to the row cell by name.</p>
        <p><b>Rows</b> covers how to provide custom row or header row templates, for row-level functionality or styling.</p>
        <p><b>Miscellaneous</b> covers how to handle common list page actions, such as sorting and searching.</p>
        <p>
            On the left is a list of links to examples for all provided functionality,
            with copyable code views for each example to facilitate initial setup.
        </p>

        <div class="docs-content">
            <h1>Main Component</h1>

            <h3><b>Column Selector</b></h3>
            <p>
                Allows a user to enable, disable, or reorder columns to their individual preference.
            </p>
            <a routerLink="/examples/column-selector">Example</a>
            
            
            <h3><b>HeightPx</b></h3>
            <p>
                By default, the size of the table displayed will be 500px or the total size of its content, whichever is smaller.
                Pass a custom heightPx value if you want a static height for your table.
            </p>
            <a routerLink="/examples/small-content">Small Content Table</a>
            <br>
            <a routerLink="/examples/static-height">Custom static height table</a>

            <h3><b>HeightVh</b></h3>
            <p>
                Table height can also be set as some fraction of the viewport height, from 0-100, by passing a custom heightVh value.
                <br>
                <b>Note:</b> this will override the heightPx value, so if both are passed in, only heightVh will take effect.
            </p>
            <a routerLink="/examples/dynamic-height">Example</a>

            <h3><b>Offset</b></h3>
            <p>
                The offset will reduce the height of the table by some pixel value.
                <br>
                This is most commonly used in conjunction with heightVh, so that the table height will be 100% of the viewport height - some pixel value,
                essentially the same as calc(100vh - 500px).
            </p>
            <a routerLink="/examples/dynamic-height">Example</a>

            <h3><b>ItemSize</b></h3>
            <p>
                The height of a row is by default 48px, but can be modified as needed to some other value.
                <br>
                <b>Note:</b> The height of every row must always be uniform, to calculate the size of the scrollbar.
            </p>
            <a routerLink="/examples/item-size">Example</a>            

            <h3><b>MinRowBuffer</b></h3>
            <p>
                The minimum number of rows to pre-render outside of the current viewport.
                <br>
                Whenever the viewport falls below the minimum number of buffered elements, it'll start rendering
                to fill the buffer until it hits the maximum.
            </p>
            <a routerLink="/examples/row-buffer">Example</a>

            <h3><b>MaxRowBuffer</b></h3>
            <p>
                The maximum number of rows to pre-render outside of the current viewport.
                <br>
                Whenever the viewport falls below the minimum number of buffered elements, it'll start rendering
                to fill the buffer until it hits the maximum.
            </p>
            <a routerLink="/examples/row-buffer">Example</a>

            <h3><b>CanResize</b></h3>
            <p>
                This attribute, when applied to the &lt;virtual-scroll&gt; element, will allow the user to resize columns,
                <br>
                Double-clicking on a resize bar will reset the columns to their original sizes.
                <br>
                <b>Note:</b> Whenever any one column is resized, all columns will be moved to fixedWidth, and no longer flex with the screen size.
            </p>
            <a routerLink="/examples/resizable">Example</a>

            <h3><b>ResizeWidth</b></h3>
            <p>
                Defines the width of the resize bar displayed between each column in pixels (default 8).
                <br>
                <b>Note:</b> This property is only used when canResize has been applied, otherwise it will have no effect.
            </p>
            <a routerLink="/examples/resize-width">Example</a>

            <h3><b>Loading</b></h3>
            <p>
                Displays a default loading animation while the developer waits for any necessary actions.
                <br>
                The component won't start building the page until loading goes to false.
                <br>
                <b>Note:</b> The loading state will also display when the <a routerLink="/examples/async-data-source">dataSource is asynchronously supplied</a>
            </p>
            <a routerLink="/examples/default-loading">Loading Example</a>

            <h3><b>LoadingTemplate</b></h3>
            <p>
                For the developer to override the default loading animation with a custom implementation.
                <br>
                It'll be displayed in replacement of the default animation, whenever the loading flag is true,
                or dataSource isn't yet defined, or the size of the list isn't yet populated.
            </p>
            <a routerLink="/examples/loading-template">Example</a>

            <h3><b>EmptyStateTemplate</b></h3>
            <p>
                For the developer to override the default empty state with a custom implementation.
                <br>
                It'll be displayed in replacement of the default banner, whenever the dataSource is initialized and finished loading,
                and the list is of length 0.
            </p>
            <a routerLink="/examples/empty-state-template">Example</a>

            <h3><b>ShowHeader</b></h3>
            <p>Handles if the header is displayed or not to the user, the header shows by default.</p>
            <a routerLink="/examples/show-header">Example</a>

            <h3><b>ShowFooter</b></h3>
            <p>Handles if the footer is displayed or not to the user, the footer shows by default.</p>
            <a routerLink="/examples/show-footer">Example</a>

            <h3><b>TrackByFn</b></h3>
            <p>A custom tracking function can be supplied for the table (like ngFor), to keep track of which rows need to be rendered.</p>
            <a routerLink="/examples/track-by">Example</a>

            <h3><b>Cell Padding</b></h3>
            <p>The default cell padding of 16px can be overwritten if you want more/less padding for each side, must be provided as a value in pixels.</p>
            <a routerLink="/examples/cell-padding">Example</a>



            <h1>Cells</h1>

            <h3><b>Name</b></h3>
            <p>
                The name property for a cell provides both the default implementation for the header, and serves as a unique identifier for that column.
                When names aren't provided, behavior is undefined, and the table is unlikely to work properly.
            </p>
            <a routerLink="/examples/basic">Example</a>

            <h3><b>Alignment</b></h3>
            <p>The content in a column is by default left aligned, but can be center or right aligned as well, by modifying the align property in a cell definition.</p>
            <a routerLink="/examples/content-alignment">Example</a>

            <h3><b>Flex Width</b></h3>
            <p>
                By default, all columns are defined as flex: 1, to evenly distribute space between them.
                <br>
                The columns can be modified to take up different portions of the space by playing with the flex property.
            </p>
            <a routerLink="/examples/flex">Example</a>

            <h3><b>MinWidth</b></h3>
            <p>When defining a column, we can specify minimum width (in pixels) as a boundary for shrinking with screen size.</p>
            <a routerLink="/examples/min-max-widths">Example</a>

            <h3><b>MaxWidth</b></h3>
            <p>When defining a column, we can specify maximum width (in pixels) as a boundary for growing with screen size.</p>
            <a routerLink="/examples/min-max-widths">Example</a>

            <h3><b>FixedWidth</b></h3>
            <p>When defining a column, we can specify a fixed width (in pixels) to make a column take a static width, without responding to screen size.</p>
            <a routerLink="/examples/fixed-width">Example</a>

            <h3><b>IsActive</b></h3>
            <p>
                Columns can be initialized as inactive, hiding them from the user.
                This can be useful for re-using tables, or hiding extraneous information intially.
            </p>
            <a routerLink="/examples/active-column" [queryParams]="{isActive: false}">Example</a>

            <h3><b>IsSticky</b></h3>
            <p>When the screen width is too small to fit all the columns on-screen, the column designated as sticky will 'stick' to either side of the viewport.</p>
            <a routerLink="/examples/sticky-column">Example</a>

            <h3><b>Context</b></h3>
            <p>When defining a cell, we have access to a number of values in the context, such as:</p>
                <ul>
                    <li>The item associated with the cell</li>
                    <li>The index of the row</li>
                    <li>The index of the cell</li>
                    <li>The name of the cell</li>
                </ul>
            <a routerLink="/examples/cell-context">Example</a>



            <h1>Header Cells</h1>

            <h3><b>Custom Header Cell</b></h3>
            <p>Stuff</p>
            <a>Link</a>



            <h1>Rows</h1>

            <h3><b>Custom Table Row</b></h3>
            <p>Stuff Note: must manually define itemSize stuff if custom row is provided</p>
            <a>Link</a>

            <h3><b>Custom Header Row</b></h3>
            <p>Stuff</p>
            <a>Link</a>

            <h3><b>Custom Footer</b></h3>
            <p>Virtual Scroll will emit metadata about the current scroll position whenever it updates, which can be used to implement a custom footer.</p>
            <a routerLink="/examples/custom-footer">Example</a>



            <h1>Miscellaneous</h1>

            <h3><b>Sorting</b></h3>
            <p>Sorting functions that run against the dataSource will update the list to use the sorted order.</p>
            <a routerLink="/examples/sort">Example</a>
        </div>
    </mat-card-content>
</mat-card>