<mat-card appearance="outlined">
    <mat-card-content>
        <h1>Virtual Scroll</h1>


        <p>Looking for how to run locally or contribute? Please visit <a
                href="https://github.com/AidanPelle/virtual-scroll">the README.md.</a></p>

        <br>
        <br>

        <h1>Overview</h1>
        <p>This project focuses on allowing developers to set up infinitely scrolling list pages with minimal
            setup/frustration.</p>
        <p>A number of features are supported out of the box:</p>
        <ul>
            <li><a routerLink="/examples/basic">Infinitely scrolling list</a></li>
            <li><a routerLink="/examples/column-selector">Turning columns on/off</a></li>
            <li><a routerLink="/examples/column-selector">Reordering columns (active or inactive)</a></li>
            <li><a routerLink="/examples/column-widths">Setting column widths as a fraction of a page</a></li>
            <li><a routerLink="/examples/column-widths">Setting minimum/maximum widths for a column</a></li>
            <li><a routerLink="/examples/column-widths">Setting a column to a fixed width</a></li>
            <li><a routerLink="/examples/content-alignment">Left/center/right aligning content</a></li>
            <li><a routerLink="/examples/modify-data">Adding/removing rows from an existing list</a></li>
            <li><a routerLink="/examples/resizable">Allowing users to resize columns</a></li>
            <li><a routerLink="/examples/sticky-column">Keep a column always visible on-screen</a></li>
            <li><a routerLink="/examples/responsive-column-enabling">Show/hide columns at different screen widths</a>
            </li>
            <li>
                For data retrieval, choose between a 
                <a routerLink="/examples/basic">basic array</a>
                , an <a routerLink="/examples/complete-list">asynchronous list</a>
                , a <a routerLink="/examples/paginated">paginated list</a>
                , or a <a routerLink="/examples/custom-list">custom solution</a>
            </li>
        </ul>

        <br>
        <br>

        <h1>Documentation</h1>
        <p>Here, you can find information on features and implementations. These are separated into four broad categories:</p>
        <ul>
            <li>Main Component</li>
            <li>Cells</li>
            <li>Header Cells</li>
            <li>Rows</li>
        </ul>
        <p>
            <b>Main Component</b> covers any information on inputs or customization applied directly to the base element, &lt;virtual-scroll&gt;,
            including settings for row size, table height, buffers, et cetera.
        </p>
        <p>
            <b>Cells</b> covers information relevant to configuring a given column inside of the table,
            including settings for content alignment, responsiveness, column spacing and enabling/disabling.
        </p>
        <p><b>Header Cells</b> briefly covers how to provide custom templates for header cells and how to link them to the row cell by name.</p>
        <p><b>Rows</b> covers how to provide custom row or header row templates, for row-level functionality or styling.</p>
        <p>On the left is a list of links to live examples for all provided functionality, with copyable code views for each example to facilitate initial setup.</p>

        <div class="docs-content">
            <h1>Main Component</h1>

            <h3><b>HeightPx</b></h3>
            <p>
                By default, the size of the table displayed will be 500px or the total size of its content, whichever is smaller.
                Pass a custom heightPx value if you want a static height for your table.
            </p>
            <a href="small-content">Small Content Table</a>
            <br>
            <a href="static-height">Custom static height table</a>

            <h3><b>HeightVh</b></h3>
            <p>Stuff</p>
            <a>Link</a>

            <h3><b>ItemSize</b></h3>
            <p>Stuff</p>
            <a>Link</a>

            <h3><b>Offset</b></h3>
            <p>Stuff</p>
            <a>Link</a>

            <h3><b>MinRowBuffer</b></h3>
            <p>Stuff</p>
            <a>Link</a>

            <h3><b>MaxRowBuffer</b></h3>
            <p>Stuff</p>
            <a>Link</a>

            <h3><b>CanResize</b></h3>
            <p>Stuff</p>
            <a>Link</a>

            <h3><b>ResizeWidth</b></h3>
            <p>Stuff</p>
            <a>Link</a>

            <h3><b>ShowFooter</b></h3>
            <p>Stuff</p>
            <a>Link</a>

            <h3><b>ShowHeader</b></h3>
            <p>Stuff</p>
            <a>Link</a>

            <h3><b>TrackByFn</b></h3>
            <p>Stuff</p>
            <a>Link</a>

            <h3><b>Cell Padding</b></h3>
            <p>The default cell padding of 16px can be overwritten if you want more/less padding for each side, must be provided as a value in pixels.</p>
            <a routerLink="/examples/cell-padding">Example</a>



            <h1>Cells</h1>

            <h3><b>Name</b></h3>
            <p>Stuff</p>
            <a>Link</a>

            <h3><b>Alignment</b></h3>
            <p>Stuff</p>
            <a>Link</a>

            <h3><b>Flex Width</b></h3>
            <p>By default, all columns are defined as flex: 1, to evenly distribute space between them</p>
            <a>Link</a>

            <h3><b>MinWidth</b></h3>
            <p>Stuff</p>
            <a>Link</a>

            <h3><b>MaxWidth</b></h3>
            <p>Stuff</p>
            <a>Link</a>

            <h3><b>FixedWidth</b></h3>
            <p>Stuff</p>
            <a>Link</a>

            <h3><b>IsActive</b></h3>
            <p>Stuff</p>
            <a>Link</a>

            <h3><b>IsSticky</b></h3>
            <p>Stuff</p>
            <a>Link</a>



            <h1>Header Cells</h1>

            <h3><b>Custom Header Cell</b></h3>
            <p>Stuff</p>
            <a>Link</a>



            <h1>Rows</h1>

            <h3><b>Custom Table Row</b></h3>
            <p>Stuff Note: must manually define itemSize stuff if custom row is provided</p>
            <a>Link</a>

            <h3><b>Custom Header Row</b></h3>
            <p>Stuff</p>
            <a>Link</a>
        </div>
    </mat-card-content>
</mat-card>