<h2>Default Configuration</h2>
<h3>A minimum setup in order to produce a working list</h3>

<mat-card appearance="outlined">
    <virtual-scroll [dataSource]="dataSource">
        <div *cellDef="let item; name: 'Cell 1'">{{item}}</div>
        <div *cellDef="let item; let columnName = columnName; name: 'Cell 2'">{{columnName}}</div>
        <div *cellDef="let item; let rowIndex = index; name: 'Cell 3'">Cell 3, index {{rowIndex}}</div>
    </virtual-scroll>
</mat-card>

<mat-card appearance="outlined" style="margin-top: 20px; max-height: 400px; overflow: auto;">
    <mat-card-content>
        <div *ngFor="let logItem of infoLog">
            {{logItem}}
        </div>
    </mat-card-content>
</mat-card>